@contentHeigth:95vh;
@logoHeight:46px;
.header{
    position: relative;
    padding:21px 0 0 20px;
    min-height: @logoHeight+21;
    background-color: #f2f2f2;
}
.content{
    max-height:@contentHeigth;
    overflow-y: scroll;
}


.box{
    background-color:#f2f2f2;
}
.logo{
    width: 160px;
    height: @logoHeight;
    border: 1px dashed red;
}