.header{
    position: relative;
    color: white;
    ul{
        li{
            display: inline-block;
            width: 50px;
            margin: 0 20px;
        }
    }
    span{
        position: absolute;
        right: 26px;
        top: 0;
        
    }
}
.content{
    max-height:95vh;
    overflow-y: scroll;
}
